{% extends 'login/base.html' %}
{% load static %}
{% block title %}<title>FX数据预测</title>{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'login/CSS/pwd_change.css' %}">
{% endblock %}
{% block content %}
<div>
    <div class="top">
            <img src="{% static 'login/image/fx.ico' %}" width="25" height="25" /><span>FX汇率预测</span>
    </div>
    <h1 class="my-con3">密码修改</h1>
    <div class="form-group my-con4">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group ">
                    {{ field.label_tag }}<br>
                    {{ field }}{{ field.errors }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            {% if message %}
            {{ message }}
            {% endif %}
            <div class="my-con2">
                <button type="submit" id="submit" class="btn btn-default pull-left">提交修改</button>
                <button onclick='location.href="{% url 'login:profile' user.id %}"' class="btn btn-default pull-right">取消修改</button>
            </div>
        </form>
    </div>
    <div class="footer">
            <p>FX汇率预测 &copy; 2021-04</p>
    </div>
</div>
{% endblock content %}
